@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fdfdfd;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 4px;
    border-radius: 10px;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ededed;
}
.logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.logo_container span{
    font-family: 'alkatra', cursive;
    font-weight: 500;
    font-size: 1.5rem;
}
.nav-links{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}
.links_lis{
    padding: 10px 15px;
    border-radius: 5px;
}
.hr_links{
    font-family: 'poppins',sans-serif;
    font-weight: 450;
    text-decoration: none;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    color: #000;
    font-size: 1rem;
}
.social_and_acc{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
}
.soc-lists{
    display: flex;
    justify-content: center;
    align-items: center;
}
.soc-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}
.toggle_panel{
    display: flex;
    justify-content: end;
    align-items: center;
    display: none;
}
#function_toggle_button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.fa-bars{
    font-size: 1.5rem;

}
.side_bar{
    position: fixed;
    top: 0;
    left: 0;
    margin: 4px;
    width: 300px;
    height: 99vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 4px;
    border-radius: 10px;
    align-items: center;
    padding: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ededed;
    transform: translateX(-120%);
    transition: 0.4s all linear;
}
.side_bar .upper-function{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 2px solid #000;
    width: 100%; 
}
.side_bar .logo_container span{
    text-wrap: nowrap;
    font-size: 1rem;
}
.bx-chevron-left{
    font-size: 1.5rem;
    font-weight: 500;

}
.side_bar .nav-links{
    flex-direction: column;
    // display: block;
    width: 100%;
}
.side_bar .nav-links .links_lis{
    // display: block;
    width: 100%;
    background-color: #fff;
}
.side_bar .social_and_acc{
    margin-bottom: 2rem;
}
.show_time{
    transform: translateX(0);
}
@media only screen and (max-width: 1038px) {
    
    nav .nav-links{
        display: none;
    }
    nav .social_and_acc{
        display: none;
    }
    .toggle_panel{
        display: inline;
    }
    .side_bar .upper-function .close_button{
        display: none;
    }


}
@media only screen and (max-width: 768px) {
    .side_bar{
        width: 100%;
    }
    .side_bar .upper-function .close_button{
        display: inline;
    }
    .side_bar{
        margin: 0;
        height: 100vh;
    }
}

 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: 'alkatra',sans-serif;
    font-weight: 700;
    font-size: 2rem;
    flex-direction: column;
}
.heading{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.under-line{
    border-bottom: 0.2rem solid #ffe600;
    width: 200px;
}

.content_center{
}
// Content Styles
.section_center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem ;
    flex-wrap: wrap;
    gap: 5rem;
    // width: 90vw;
    // width: 90vw;
    // margin: 0 auto;
    // max-width: 1170px;
    align-self: center;
    justify-self: center;
    // display: grid;
    // gap: 3rem 2rem;
    // justify-items: center;
}
.menu-items{
    display: flex;
    justify-content: start;
    width: 600px;
    height: 300px;
    gap: 0;
    border-radius: 20px;
    overflow: hidden;
    padding: 0.5rem;
    background-color: #ededed;
}
.item-img-contain{
    width: 50%;
    overflow: hidden;
    border-radius: 20px;
}
.item-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: auto;
    transition: 1s all ease-in;
    cursor: pointer;

}

.menu-items:hover .item-img{
    transform: scale(1.5);
}

.item-info{
    width: 50%;
    padding: 0.3rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
}
.item-text{
    font-family: 'poppins',sans-serif;
    text-transform: capitalize;
}
.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.3rem;
}
.filter_btn{
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
}